.expense-lists li {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  gap: 16px;
  border-bottom: 1px solid #000;
}

.expense-lists li::marker {
  font-weight: bold;
}

.edit,
.delete {
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 4px;
  width: 4rem;
}
